@use '../custom' as *;
@use "base/mixins" as m;
@use 'base/animaciones' as *;

.header{
    @include m.background-image('../img/header.jpg');
    position: relative;

    .header-guitarra{


        display: none;

        @include media-breakpoint-up(lg){
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 0;
            // animation: duration timing-function delay iteration-count name
            animation: 1s ease-in 0s 1 animarImagen; 
        }
    }
}

.navegacion {

    z-index: 1;
    a{
        &:hover{
            background-color: $primary;
        }
    }
}


