$negro: #262626;
$blanco: #FFF;
$naranja: #e99401;

// colores 
$primary: $naranja;
$white: $blanco;
$dark: $negro;

// Tipografia
$fuente-headings: 'Outfit', sans-serif;
$fuente-textos: 'Outfit', sans-serif;

$font-family-base: $fuente-textos; 
$headings-font-family: $fuente-headings;
$headings-font-weight: 900;
$h1-font-size: 4.4rem;
$h2-font-size: 3.6rem;
$h3-font-size: 2.6rem;
$headings-color: $primary;

// botones
$btn-font-weight: 900;
$btn-border-radius: 0;

// links
$link-color: $white;
$link-decoration: none;
$link-hover-color: $white;


.fw-black{
    font-weight: 900;
}

// Importar Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';